.login {
    background: #000;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    font-family: OpenSans-Bold,Arial;
    font-weight: 700;
    font-size: 14px;
    height: 35px;
    padding: 6px 12px;
    min-width: 25%;
}