@import '~theme/variables.scss';

.responsiveTable {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    background: $app-theme;
    text-align: left;
    color: $white;
  }

  tr {
    border: 1px solid $grey150;
    &.stripped {
      background: $white;

      &:nth-child(even) {
        background: $grey300;
      }
    }
  }

  th,
  td {
    padding: 5px;
  }

  th {
    text-transform: uppercase;
  }
}
